<%= form_for @driver, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:sex, Driver::SEX.invert) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :work_age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :work_age, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel, :class => 'text_field' %>
    </div>
  </div>
  <%= f.hidden_field("team_id") %>
  <!-- <div class="control-group">
    <%= f.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :team_id, :class => 'text_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :default_car_id, :class => 'control-label' %>
    <div class="controls">
      <%= create_auto_car("default_car_id") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'text_field' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            drivers_path, :class => 'btn btn-default' %>
 
<% end %>
