<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Driver %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_driver_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:work_age) %></th>
      <th><%= model_class.human_attribute_name(:tel) %></th>
      <th><%= model_class.human_attribute_name(:team_id) %></th>
      <th><%= model_class.human_attribute_name(:default_car_id) %></th>
      <th><%= model_class.human_attribute_name(:birthday) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.no %></td>
        <td><%= driver.name %></td>
        <td><%= driver.get_sex %></td>
        <td><%= driver.work_age %></td>
        <td><%= driver.tel %></td>
        <td><%= driver.team.try :name %></td>
        <td><%= driver.default_car.try :car_number %></td>
        <td><%= driver.birthday %></td>
        <td><%=l driver.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_driver_path(driver), :class => 'btn btn-default btn-xs' if can? :update, driver %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      driver_path(driver),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' if can? :destroy, driver %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>